pandas==2.2.3
pyarrow==18.1.0
scikit-learn==1.6.1
scipy==1.15.1
numpy==2.2.1
joblib==1.4.2
fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
python-multipart==0.0.20
gensim
matplotlib
rouge-score==0.1.2
nltk>=3.8
meteor-python==0.5
